{% extends 'base.html' %}
{% block title %} Search Books {% endblock %}
{% block body %}
<div style="text-align: center; font-size: 25px; padding-bottom: 15px; margin-bottom: 10px; background-color: rgb(248, 249, 250);">
  Search Books
</div>
<div>
  <form class="row g-5 align-items-center justify-content-center" action="/searchBooks" method="post">
    <div class="col-auto w-25">
      <label for="authorSearch" class="form-label">Search by author</label>
      <input type="text" class="form-control" placeholder="Author Name" id="authorSearch" name="authorSearch">
    </div>
    <div class="col-auto w-25">
      <label for="bookSearch" class="form-label">Search by Book Name</label>
      <input type="text" class="form-control" placeholder="Book Name" id="bookSearch" name="bookSearch">
    </div>
    <div class="col-auto w-25">
      <button type="submit" class="btn btn-primary mt-4 w-50 align-items-center">Search</button>
    </div>
  </form>
</div>
<div class="p-4">
  <table class="table table-primary table-hover table-bordered table-responsive">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Section</th>
      </tr>
    </thead>
    {% for i in books %}
      <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}