{% extends 'base.html' %}
{% block title %} Manage Sections {% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand">Library Management System</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/adminHome">Home</a>
          <a class="nav-link" href="/manageSections">Sections</a>
          <a class="nav-link" href="/manageBooks">Books</a>
          <button type="button" class="btn btn-light">
            <a href="/logOut" style="text-decoration:none; color:black;">Log out</a></button>
        </div>
    </div>
  </div>
</nav>
<div style="text-align: center; font-size: 25px; padding-bottom: 15px; margin-bottom: 10px; background-color: rgb(248, 249, 250);">
  Manage Sections
</div>
<div class="d-flex flex-row">
  <div style="width: 400px; margin-top: 100px;">
    <div class="d-flex flex-column row-gap-3 mx-auto" style="width: max-content;">
      <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#addSectionModal">
        Add Section
      </button>
      <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#editSectionModal">
        Edit Section
      </button>
      <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#deleteSectionModel">
        Delete Section
      </button>
    </div>
  </div>
  <div style="flex: 1;">
    {% if sections==[] %}
      <div class="d-flex flex-fill">
        <h2 class="mx-auto" style="padding: 100px;">You have no sections</h2>
      </div>
    {% else %}
      <div class="p-4">
        <table class="table table-primary table-hover table-bordered table-responsive">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Creation Date</th>
            </tr>
          </thead>
          {% for i in sections %}
            <tr>
              <td>{{ i[0] }}</td>
              <td>{{ i[1] }}</td>
              <td>{{ i[3] }}</td>
              <td>{{ i[2] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
  </div>
</div>

<!--Popup for adding secction-->
<div class="modal" tabindex="-1" id="addSectionModal" aria-labelledby="addSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/manageSections" method="post">
          <div class="mb-3">
            <label for="sectionName" class="form-label">Section Name</label>
            <input type="text" class="form-control" id=sectionName name="sectionName">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id=description name="description">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Add Section"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Popup for editing section-->
<div class="modal" tabindex="-1" id="editSectionModal" aria-labelledby="editSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="secID" class="form-label">Section ID</label>
            <input type="text" class="form-control" id=secID2 name="secID">
          </div>
          <div class="mb-3">
            <label for="sectionName" class="form-label">Section Name</label>
            <input type="text" class="form-control" id=sectionName2 name="sectionName">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id=description2 name="description">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" onclick="editSection()" class="btn btn-primary" value="Edit Section"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Popup for deleting section-->
<div class="modal" tabindex="-1" id="deleteSectionModel" aria-labelledby="deleteSectionModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="secID" class="form-label">Section ID</label>
            <input type="text" class="form-control" id=secID name="secID">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" onclick="deleteSection()" class="btn btn-primary" value="Delete Section"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteSection(){
    var secID = document.getElementById("secID").value;
      fetch('/manageSections?secID=' + secID, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          return
        } else {
          alert('Error deleting section');
        }
      });
  }
  function editSection(){
    var secID = document.getElementById("secID2").value;
    var secName = document.getElementById("sectionName2").value;
    var secDesc = document.getElementById("description2").value;
      fetch('/manageSections', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          id:secID,
          name:secName,
          desc:secDesc
        })
      }).then(response => {
        if (response.ok) {
          alert('Section Edited successfully');
        } else {
          alert('Error editing section');
        }
      });
  }
</script>
{% endblock %}